<?xml version="1.0" encoding="utf-8"?>
<packages>
	
	  <!-- editor -->	  	  	
      <package id="notepadplusplus"  version="6.6.7"/>

	  <!-- SCM tools -->	
      <package id="git"  version="1.9.4"/>
	  <package id="TortoiseGit" version="1.8.9.0"/>		
	  <package id="git-credential-winstore" version="1.2.0.0"/>	
	  <package id="meld" version="1.8.3"/>		  	  	  

	  <!-- monitoring tools -->	  
 	  <package id="zabbix-agent" version="2.2.1"/>	
	  
</packages>
